/* 
Base Rules
	A Base rule is applied to an element using an element selector, a descendent selector, or a child selector, along with any pseudoclasses. It doesn’t include any class or ID selectors. It is defining the default styling for how that element should look in all occurrences on the page.
*/

html {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    @include body-font-regular;
    @include fontSize(14px);
    line-height: 1.4;
    max-width: 550px;
    margin: 0 auto;
    text-align: justify;
    width: 100%;
}



header h1 {
    background-color: $background-color;
    margin-top: auto;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

h1 {
    @include headline-font;
    @include fontSize(60px);
    line-height: 1;
    letter-spacing: 2px;
    margin-top: 50px;
    margin-bottom: 0;
    text-align: center;
}

header h2 {
    background-color: $background-color;
    color: #fff;
    @include fontSize(30px);
    text-align: center;
    margin-top: 0;
    line-height: -1;
}

h2, h3 {
    color: $background-color;
    @include heading-font;
    @include fontSize(25px);
    border-bottom: 1.5px #000 solid;
    line-height: 1;
    margin: auto;
    padding: 10px;
}

a {
    color: rgba(2, 75, 67, 0.37);
    @include list-font;
    text-decoration: none;
}

a:hover {
    color: rgba(118, 132, 131, 0.37);
}

ul {
    line-height: 1.4;
    padding-bottom: 10px;
    padding-top: 10px;
}

ul li {
    @include body-font-regular;
    list-style: circle;
    line-height: 2;
    margin: 0 6px 0 0;
}

blockquote {
    @include list-font;
    background-color: rgba(88, 177, 170, 0.37);
    color: #fff;
    margin: 0;
    padding: 40px;
    text-align: center;
}

blockquote cite {
    display: block;
}


footer {
    border-top: 1px #000 solid;
    padding: 10px;
}
